@import '../../sass/variables';


.main{
    padding: 3rem 10rem;
    background-color: $Light-Blue;
    // margin-top: 10rem;

    .header-content{
        text-align: center;
        margin-top: 5rem;
        
        h2{
            font-size: 2.5rem;
            margin-inline: auto;
        }  
        p{
            width: 50%;
            margin-inline: auto;
        }
    }   
    
    
}

@media (max-width: 1027px){
    .main{
        padding: 3rem 7rem;
    }
}

@media (max-width: 768px){
    .main{
        padding: 3rem 2rem;
    }
}