@import "/src/sass/variables";

// .responsive_nav{
//   display: none;
  
// }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 10rem;

  .fa-bars{
    display: none;
    font-size: 2rem;
    color: $Gray;
    font-weight: bold;
  }

  &__mobile{
    display: none;
  }

  &_left {
    display: flex;
    align-items: center;
    // align-items: center;

    .logo{
      margin-top: .5rem;
    }
    nav {
      margin-left: 2.5rem;
    }
  }

  &_right{
    nav ul li .signUp{
        background-color: $Cyan;
        padding: .5rem 1rem;
        border-radius: 2rem;
    }
  }

  //    Geberal styling for Nav
  nav {
    ul {
      list-style-type: none;
      display: flex;
      // flex-direction: column;
      align-items: center;
      gap: 1rem;

      li {
        a {
          text-decoration: none;
          color: $Gray;

          &.signUp{
            color: #fff;
          }
          &.signUp:hover{
              color: #fff;
              font-weight: 700;  
          }

          &:hover {
            color: $Very-Dark-Violet;
            transition: color 500ms;
            // font-weight: 700;

            
          }
        }
      }
    }
  }
}

@media (max-width: 1027px){
  .navigation{
    padding: 3rem 7rem;
  }
}

// @media (max-width: 920px){

// }

@media (max-width: 820px){
  // .navigation{
  //   // flex-direction: column;

  //   .fa-bars{
  //     display: flex;
  //   }

  //   position: relative;

  //   &_left{
  //     nav{
  //       margin-left: 8rem;
  //       background-color: red;
  //       // padding: 5rem;
  //       // display: flex;
  //       // width: 5rem;
        
  //     }
  //   }

  //   &_right{
  //     nav{
  //       margin-right: 20rem;
  //       // margin-top: 10rem;
  //       ul{
  //         margin-top: 6.5rem;
  //       }
  //     }
  //   }

  //   nav{
  //     background-color: red;
  //     // position: relative;
  //     display: flex;
  //     flex-direction: column;

  //     ul{
  //       flex-direction: column;
  //       position: absolute;
  //       top: 7rem;
  //       background-color: red;
  //       width: 10rem;
  //       // padding: 7rem;
  //     }
  //   }

   
  // }

  .responsive_nav{
    display: none;
    
  }

  .navigation{
    justify-content: unset;
    &_left, &_right{
      display: none;
    }

    .fa-bars{
      display: block;
      cursor: pointer;
    }

    &__mobile{
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      

      .navigate{

        nav{
          // display: none;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          width: 100%;
          top: 3rem;
          background-color: $Very-Dark-Blue;
          padding: 2rem 1rem;
          border-radius: .5rem;
          

          ul{
            flex-direction: column;
            width: 100%;
            
            li{
              text-align: center; 
              
              &:nth-child(3){
                border-bottom: .5px solid #ffffff32;
                padding-bottom: 1rem;
              }
            }

            li, a{
              width: 100%;
              
              
            }

            a{
              display: block;
              padding: .5rem 0;
              color: #fff;

              &.signUp{
                // padding: ;
                border-radius: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  .navigation{
    padding: 3rem 5rem;
    transition: padding 500ms;
  }
}

@media (max-width: 480px){
  .navigation{

    padding: 3rem 1rem;
  }
}



