@import '/src/sass/variables';

section.landing{
    display: flex;
    align-items: center;
    padding: 0rem 0 3rem 10rem;
    gap: 3rem;
    margin-bottom: 5rem;
    // justify-content: center;
    // background-color: red;
    // height: 70vh;

    .content{
        // display: flex;
        // background-color: red;
        line-height: 1.2;
        // width: 10rem;
        h2{
            font-size: 4.5rem;
        }

        p{
            color: $Gray;
            max-width: 70%;
            margin-top: .5rem;
            margin-bottom: 3rem;
            font-size: 1.2rem;
            line-height: 1.5;
        }

        a{
            text-decoration: none;
            color: #fff;
            background-color: $Cyan;
            padding: 1rem 3rem;
            border-radius: 2rem;
            transition: all 500ms;

            &:hover{
                font-weight: 700;
                
            }
        }

    }

    .image-wrapper{
        margin-right: -10rem;
        img{width: 100%;}
        width: 100%;
    }
}

@media (max-width: 1027px){
    section.landing{
        // background-color: red;
        padding: 0rem 0 3rem 7rem;

        .content{

            h2{
                font-size: 4rem;
            }

            p{
                font-size: 1.1rem;
            }

        }
       
       
    }
}

@media (max-width:962px){
    section.landing{

     
        .content{

            h2{
                font-size: 3.5rem;
            }

            p{
                font-size: 1rem;
            }

        }
       
    }
}

@media (max-width: 920px){
    section.landing{
        flex-direction: column-reverse;
        // align-items: center;
        padding: 0rem 7rem 3rem 7rem;

        .content{
            text-align: center;
            // margin: auto;

            p{
                margin-inline: auto;
            }
        }

        .image-wrapper{
            margin-right: -10rem;

            img{
                width: 55rem;
                transition: width 500ms;
            }
            
            
        }
    }
}

@media (max-width:768px){
    section.landing{
        padding: 0rem 2rem 3rem 2rem;
    }
}

@media (max-width: 600px){
    section.landing{
        .image-wrapper{
            margin-right: 0;
            
            img{
                width: 30rem;
                transition: width 500ms;
            }
        }
    }
}

@media (max-width: 425px){
    section.landing{
        .content{
            h2{
                font-size: 2.5rem;
            }

            p{
                max-width: 90%;
            }
        }
    }
}