@import '/src/sass/variables';

section.landing{
    display: flex;
    align-items: center;
    padding: 0rem 0 3rem 10rem;
    gap: 4rem;
    margin-bottom: 5rem;
    // justify-content: center;
    // height: 70vh;

    .content{
        // display: flex;
        // background-color: red;
        line-height: 1.2;
        // width: 10rem;
        h2{
            font-size: 4.5rem;
        }

        p{
            color: $Gray;
            max-width: 65%;
            margin-top: .5rem;
            margin-bottom: 3rem;
            font-size: 1.2rem;
        }

        a{
            text-decoration: none;
            color: #fff;
            background-color: $Cyan;
            padding: 1rem 3rem;
            border-radius: 2rem;
            transition: all 500ms;

            &:hover{
                font-weight: 700;
                
            }
        }

    }

    div{
        margin-right: -10rem;
        // img{width: 100%;}
    }
}