@import '../../sass/variables';

.footer{
    background-color: $Very-Dark-Violet;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;

    &-logo{
        img{filter: grayscale(100%) brightness(10000%)}
    }

    // Navigation
    &-navigation{
        color: #fff;
        display: flex;
        // flex-direction: column;
        // text-align: center;
        gap: 5rem;

        li{
            
            &.header{
                margin-bottom: 1rem;
                font-weight: 700;
            }

            a{
                line-height: 2;

                &:hover{
                    color: $Cyan;
                    
                }
            }
        }

      
        .logo-links{
            display: inline-flex;
            gap: 1rem;

            i{
                font-size: 1.8rem;
                cursor: pointer;
                
                &:hover{
                    color: $Cyan;
                }
            }
            // align-items: center;
        }
    }
}

@media (max-width: 1027px){
    .footer{
        padding: 5rem 7rem;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
}

