@import '../../../sass/variables';

.cards{
    display: flex;
    gap: 1.5rem;
    margin: 5rem 0;

    
    
    

    .card{
        background-color: #fff;
        padding: 2rem;
        // border-radius: .5rem;
        height: fit-content;
        
        

        .image{
            margin-top: -4rem;
            padding-bottom: 1.8rem;

            img{
                
                background-color: $Dark-Violet;
                padding: 1rem;
                border-radius: 50%;

            }
        }


        &:nth-child(2){
            margin-top: 3rem;
            position: relative;
            
            
        
            &::before, &::after{
                content: '';
                width: 1.5rem;
                height: .5rem;
                background-color: $Cyan;
                position: absolute;
                top: 7rem;
            }

            &::before{
                left: -1.5rem;
            }

            &::after{
                right: -1.5rem;
                
            }
        }

        &:nth-child(3){
            margin-top: 6rem;
        }

        .content{
            padding-bottom: 1rem;
            h4{
                margin-bottom: 1rem;
                color: $Very-Dark-Violet
            }
            
        }
        
    }
}

@media (max-width:680px){
    .cards{
        flex-direction: column;
        // transition: column 500ms;
        // align-items: center;
        text-align: center;

        .card{
         
            &:nth-child(2){
                &::after, &::before{
                    width: 0.5rem;
                    height: 2.5rem;
                }
                &::after{
                    // left: -;
                    right: 0;
                    // left: 5rem;
                    // right: 8rem;
                    top: -4.5rem;
                }
            }

            &:nth-child(3){
                margin-top: 3rem;
            }
        }
    }
}